<%- model_class = Seller -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:town) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:web_address) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= link_to seller.name, seller_path(seller) %></td>
        <td><%= seller.town %></td>
        <td><%= seller.phone_number %></td>
        <td><%= seller.email %></td>
        <td><%= seller.web_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
